
body {
  background-color: black;
}
h1 {
  color: white;
  font-family: "courier";
 } 
h2 {
  color: white;
  font-family: "courier";
  }
h3 {
  color: white;
  font-family: "courier";
  }
h4 {
  color: white;
  font-family: "courier";
} 
h5 {
  color: white; 
  font-family: "courier";
}  
p {
   color: white;
   font-family: "courier";
 }